<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmy.lecturetest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.LectureListActivity"
            android:label="全部讲座" />
        <activity
            android:name=".activity.LectureDetailActivity"
            android:label="讲座详情" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyorderActivity"
            android:label="我的预约" />
        <activity android:name=".activity.QRCodeActivity"
            android:label="签到"></activity>
        <activity android:name=".activity.QiandaoActivity"></activity>
    </application>

</manifest>